#! /usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' '|sed 's/-.*//')


get-orig-source:
	git archive -o ../fahrplan_$(DEB_VERSION).orig.tar.gz v$(DEB_VERSION)

export PYBUILD_NAME=fahrplan
%:
	dh $@ --with python3 --buildsystem=pybuild
